li {
padding-right: 4cm;
}

.image1 {
width: 400px;
height: 400px;
position: relative;
}

.home {
  float: right;
}

.contact {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
